<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dispensario Médico</title>
    <link rel="stylesheet" href="/Style/Equipo.css">
</head>
<body>
    <div class="container">
        <h1>DISPENSARIO MÉDICO</h1>
        <div class="cubicles">
            <div class="cubicle">
                <h2>Edwin Barrera Rodríguez</h2>
                <p>Médico</p>
            </div>
            <div class="cubicle">
                <h2>Cynthia Páez</h2>
                <p>Auxiliar de Enfermería</p>
            </div>
            <div class="cubicle">
                <h2>Belcy Corredor Cruz</h2>
                <p>Técnico en enfermería</p>
            </div>
            <div class="cubicle">
                <h2>Stayfania Trujillo</h2>
                <p>Auxiliar de Enfermería</p>
            </div>
            <div class="cubicle">
                <h2>Laura Pérez</h2>
                <p>Psicóloga</p>
            </div>
        </div>
    </div>
</body>
</html>
